body {
    background-image: url("pexels-padrinan-19670.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
}

.rowContainer {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    border: 1px solid black;
}

button {
    margin: 20px auto;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 5px;
}